<app-sidebar></app-sidebar>
<div class="mb-3">
    <div class="container1 mb-3 margin-top">
        <div class="container bordered">
            <!-- <app-display-employee-table [objects]="employees" [object]="employee"></app-display-employee-table> -->
            <app-display-table-common [objects]="employees" displayName="Employees GET"></app-display-table-common>
            <app-display-table-common [objects]="employee" displayName="Employees GET BY ID"></app-display-table-common>
        </div>
    </div>
</div>
